.container {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 700px;
  margin-left: 10px;
  margin-right:10px;
}

#NameBar>* {
  margin: 0px 7px;
}

#NameBar>p {
  position: absolute;
  right: -5px;
  top: 15px;
  padding-right: 10px;
  font-size: 20px;
}

#Preable {
  margin: 0px 10px;
}

#Preable>p {
  margin: 0px 0px 10px 0px;
}

#AchievementContainer {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 650px;
  margin-left: 25px;
  margin-right:25px;
  margin-top: 10px;
}

#FooterContainer {
  margin-top: 0px;
}

#Links {
  padding-right: 57px;
}

.bar {
  overflow: auto;
}

.bar>* {
  margin: 0px 7px;
}

.horizontal-columns {
  overflow: auto;
  margin: 0px 25px 0px -30px;
}

.horizontal-columns>li {
  margin-bottom: 2px;
  text-align: center;
  display: block;
  width: 25%;
  float: left;
}

.vertical-columns {
  padding:  0px;
    list-style-type: none;
}

.vertical-columns>li {
  margin-bottom: 5px;
}

.vertical-columns>li::before {
  content: '\00bb';
  padding-right: 8px;
  color: #094f90;
}


.company-title {
  width: 20%;
  margin: 0px;
  padding-right: 15px;
  border-right-style: dashed;
  border-right-width: thin;
  border-right-color: #aaa;
  text-align: right;
}

.company-name {
  margin-top: 12px;
  margin-bottom: 4px;

}

.company-position {
  margin-top: 0px;
  margin-bottom: 12px;
}

.desc-resp {
  float: right;
  margin-left: 5px;
  width: 74%;
}

.date>p {
  margin: 0px;
}

.desc {
  padding: 0px 10px;
}

.education-info {
  margin-right: 0px;
  margin-bottom: 0px;
}

.education-title {
  overflow: auto;
}

.education-name {
  margin: 0px 5px 0px 0px;
}

.large-divider {
  height: 1px;
  border-style: inset;
  border-color: #81BEF7AA;
  border-width: thick;
  border-radius: 10px;
  margin: 5px 0px;
}

.small-divider {
  height: 0px;
  border-style: ridge;
  border-color: #81BEF7AA;
  border-width: thin;
  margin: 10px 0px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.small {
  font-size: 14px;
}

.tiny {
  font-size: 12px;
}

.very-tiny {
  font-size: 10px;
}

.dark-blue {
  color: #094f90;
}

.grey {
  color: #666;
}

.dark-grey {
  color: #222;
}

.black {
  color: #000;
}

.no-margin {
  margin: 0px;
}

strong {
  color: #008;
}
